.productCard {
  background-color:#f0e7e5;
    justify-content: center;
    align-items: center;
    max-width: 25rem;
    glyph-orientation-horizontal: 0deg;
    
  }
  
  .productCardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .productImage {
    float: left;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .image{
    width: 120px;
  }

