.cartContainer {
    min-height: 70vh;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
  }
  
  .checkoutHeader {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #813805;
  }
  
  .headerBlock {
    text-transform: capitalize;
    width: 23%;
  }
  
  .total {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    font-weight: bold;
  }